/* TransactionItem.css */
.transaction-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center; 
  font-size: 12px
}

span{
 width: 100px;
 padding-bottom: 5px;
}

button {
  background-color: red;
  color: white;
  cursor: pointer;
  border:none;
  border-radius: 5px;
  height: 20px;
  font-size: 12px;
}
